@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    <strong>Nova Geração em Tecnologia na Guiné-Bissau,</strong> é uma plataforma digital que foi criado
    no dia 10 de maio de 2020, por um grupo dos estudantes de diferentes áreas e especialidades da
    tecnologia, com intuito de expandir o uso da tecnologia e as suas ferramentas na Guiné-Bissau
    de forma geral.Compreendemos que a tecnologia tem um papel de disseminar e contribuir para a
    disseminação das questões mundiais, principalmente promovendo ensinamentos críticos na sociedade, além de promover o maior alcance possível aos meios de conhecimento.

</p>
<h5><strong>DISPOSIÇÃO GERAL</strong></h5>
Nova Geração em Tecnologia na Guiné-Bissau, é uma plataforma digital que abrange toda esfera da tecnologia.
<h5><strong>OBJETIVO</strong></h5>
Sendo jovens acadêmicos inovadores e amantes da tecnologia movidos pelas ideias de transformar e acompanhar evolução da tecnologia a nível global somos obrigados aceitar desafios de levar a tecnologia para o nosso país Guiné-Bissau criarmos espaço de debates, Informação, divulgações, sensibilização com diferentes temas que envolve área de tecnologia, e também dinamizar painéis de debates e entrevistas com os estudantes, Professores, e profissionais de diferentes áreas da tecnologia.
<h5><strong>MISSÃO</strong></h5>
Incentivar o uso das ferramentas da tecnologia especialmente em função da transformação digital e a otimização dos processos, e discussões relacionada com a tecnologia na Guiné-Bissau e todo o seu ecossistema.
