@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3> 
    <address>
    AV DAS NAÇÕES Nº 500<br />
    CEP 0000-0000<br />
    <abbr title="TELEFONE"></abbr>
    254.685.0100
    </address>

    <address>
    <strong>Supporte:</strong>   <a href="ngtechnologygb@gmail.com">ngtechnologygb@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="nicksonwebdeveloper@gmail.com">nicksonwebdeveloper@gmail.com</a>
    </address>